@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.main__title {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  color: #faedcd;
}
@media only screen and (min-width: 1280px) {
  .main__title {
    font-size: 64px;
  }
}

.main__subtitle {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: #faedcd;
}
@media only screen and (min-width: 1280px) {
  .main__subtitle {
    font-size: 18px;
  }
}

.secondary-title {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: #283618;
}
@media only screen and (min-width: 1280px) {
  .secondary-title {
    font-size: 42px;
  }
}

.about__topic {
  font-family: "Noto Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: black;
}
@media only screen and (min-width: 1280px) {
  .about__topic {
    font-size: 26px;
  }
}

.simple-text {
  font-family: "Noto Sans";
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  color: black;
}
@media only screen and (min-width: 1280px) {
  .simple-text {
    font-size: 20px;
  }
}

.entertainment .card__title, .habitation .card__title {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #283618;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__title, .habitation .card__title {
    font-size: 26px;
  }
}

.habitation .card__price {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  color: #bc6c25;
}
@media only screen and (min-width: 1280px) {
  .habitation .card__price {
    font-size: 24px;
  }
}

.reviews .card__name {
  font-family: "Noto Sans";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  color: #283618;
}
@media only screen and (min-width: 1280px) {
  .reviews .card__name {
    font-size: 20px;
  }
}

.header .menu__link, .header .menu__link-active {
  font-family: "Noto Sans";
  font-weight: 500;
  font-style: normal;
  color: #283618;
  font-size: 14px;
}
.header .menu__link:hover, .header .menu__link-active:hover, .header .menu__link:active, .header .menu__link-active:active {
  color: #bc6c25;
}
@media only screen and (min-width: 1280px) {
  .header .menu__link, .header .menu__link-active {
    font-size: 20px;
  }
}

.entertainment .card__link {
  font-family: "Noto Sans";
  font-weight: 600;
  font-style: normal;
  color: #283618;
  font-size: 14px;
}
.entertainment .card__link:hover, .entertainment .card__link:active {
  color: #bc6c25;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__link {
    font-size: 20px;
  }
}

.container {
  width: 300px;
  margin: 0 auto;
}
@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.green-button, .white-button, .input, .header .menu__link, .header .menu__link-active, .entertainment .card__link {
  transition: 0.3s;
}
.green-button:hover, .white-button:hover, .input:hover, .header .menu__link:hover, .header .menu__link-active:hover, .entertainment .card__link:hover {
  transition: 0.3s;
}
.green-button:active, .white-button:active, .input:active, .header .menu__link:active, .header .menu__link-active:active, .entertainment .card__link:active {
  transition: 0.05s;
}

.green-button:active, .white-button:active {
  transform: scale(0.9);
}

.input {
  color: #606c38;
  font-family: "Noto Sans";
  font-weight: 500;
  background-color: #faedcd;
  border-style: solid;
  border-color: #606c38;
}
.input:hover, .input:active, .input:focus {
  color: #283618;
  background-color: #ccd5ae;
  border-color: #283618;
}
.input:hover::placeholder, .input:active::placeholder, .input:focus::placeholder {
  color: #283618;
}
.input::placeholder {
  color: #606c38;
}

.slider {
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}
@media only screen and (min-width: 1280px) {
  .slider {
    overflow-x: hidden;
  }
}

.slider__slides {
  transition: transform 0.001s ease-in-out;
}

.slider__slide {
  scroll-snap-align: start;
  position: relative;
}

html {
  background-color: #fefae0;
}

.secondary-title {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1280px) {
  .secondary-title {
    margin-bottom: 30px;
  }
}

.break-mobile {
  display: block;
}
@media only screen and (min-width: 1280px) {
  .break-mobile {
    display: none;
  }
}

.break-desktop {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .break-desktop {
    display: block;
  }
}

.white-button {
  font-family: "Noto Sans";
  font-weight: 500;
  border-style: solid;
  border-color: #606c38;
  color: #606c38;
  background-color: #faedcd;
}
.white-button:hover {
  background-color: #606c38;
  color: #fefae0;
  border-color: #283618;
}
.white-button:active {
  background-color: #faedcd;
  color: #606c38;
  border-color: #606c38;
}

.green-button {
  font-family: "Noto Sans";
  font-weight: 500;
  border-style: solid;
  border-color: #283618;
  color: #fefae0;
  background-color: #606c38;
}
.green-button:hover {
  background-color: #faedcd;
  color: #606c38;
  border-color: #606c38;
}
.green-button:active {
  background-color: #606c38;
  color: #fefae0;
  border-color: #283618;
}

.header {
  background-color: #faedcd;
}
.header__logo {
  width: 80px;
  height: 52px;
}
@media only screen and (min-width: 1280px) {
  .header__logo {
    width: 125px;
    height: 80px;
  }
}
.header .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu:nth-child(2) {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .header .menu:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    margin-left: 80px;
  }
}
.header .menu__link-active {
  color: #bc6c25;
}
.header__bar:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
@media only screen and (min-width: 1280px) {
  .header__bar:first-child {
    display: flex;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.header__bar:last-child {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #283618;
}
@media only screen and (min-width: 1280px) {
  .header__bar:last-child {
    display: none;
  }
}
.header__search {
  position: relative;
  margin-left: auto;
}
.header__input {
  padding-left: 10px;
  padding-right: 26px;
  padding-top: 6px;
  padding-bottom: 6px;
  width: 140px;
  height: 28px;
  font-size: 12px;
  border-radius: 10px;
  border-width: 2px;
}
@media only screen and (min-width: 1280px) {
  .header__input {
    width: 240px;
    height: 50px;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 54px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 18px;
    border-width: 3px;
  }
}
.header__loupe {
  width: 13px;
  height: 13px;
  position: absolute;
  color: #606c38;
  right: 10px;
  top: 7px;
}
.header__loupe:hover, .header__loupe:active {
  color: #bc6c25;
}
@media only screen and (min-width: 1280px) {
  .header__loupe {
    right: 20px;
    width: 24px;
    height: 24px;
    top: 13px;
  }
}

.main {
  background-image: url("../images/main_photo.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 242px;
}
@media only screen and (min-width: 1280px) {
  .main {
    background-image: url("../images/main_photo_desktop.png");
    height: 700px;
  }
}
.main__content {
  padding-top: 35px;
}
@media only screen and (min-width: 1280px) {
  .main__content {
    padding-top: 357px;
    display: flex;
    justify-content: center;
  }
}
.main__substrate {
  width: 300px;
  height: 171px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 18px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (min-width: 1280px) {
  .main__substrate {
    background-color: transparent;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 660px;
    height: 163px;
  }
}
.main__button {
  padding-left: 18.5px;
  padding-right: 18.5px;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  font-size: 14px;
  border-radius: 18px;
}
@media only screen and (min-width: 1280px) {
  .main__button {
    font-size: 20px;
    padding-left: 75.5px;
    padding-right: 75.5px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .main__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.main__row:nth-child(1) .main__button {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .main__row:nth-child(1) .main__button {
    display: block;
    margin-bottom: 4px;
  }
}
@media only screen and (min-width: 1280px) {
  .main__row:nth-child(1) .main__title:nth-child(2) {
    display: none;
  }
}
.main__row:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__row:nth-child(2) .main__title {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .main__row:nth-child(2) .main__title {
    display: block;
  }
}
@media only screen and (min-width: 1280px) {
  .main__row:nth-child(2) .main__button {
    display: none;
  }
}

.about {
  margin-top: 40px;
}
@media only screen and (min-width: 1280px) {
  .about {
    margin-top: 90px;
  }
}
.about__highlight {
  font-weight: 700;
  color: #bc6c25;
}
.about__collage {
  display: none;
  margin-top: 30px;
}
@media only screen and (min-width: 1280px) {
  .about__collage {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.about__collage .about__text:nth-child(2), .about__collage .about__text:nth-child(4) {
  margin-left: auto;
}
.about__text {
  transition: opacity 1s ease-in-out;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1280px) {
  .about__text {
    width: 380px;
    height: 135px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.about__image {
  width: 300px;
  height: 311px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .about__image {
    width: 406px;
    height: 421px;
  }
}
.about__text-slider {
  background-color: #e9edc9;
  border-radius: 18px;
}
@media only screen and (min-width: 1280px) {
  .about__text-slider {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .about__info {
    width: 796px;
    height: 417px;
  }
}
@media only screen and (min-width: 1280px) {
  .about__image-info {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.habitation {
  margin-top: 40px;
}
@media only screen and (min-width: 1280px) {
  .habitation {
    margin-top: 90px;
  }
}
.habitation .card {
  width: 300px;
  height: 477px;
}
@media only screen and (min-width: 1280px) {
  .habitation .card {
    width: 305px;
    height: 630px;
  }
}
.habitation .card__main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .habitation .card__main-info {
    padding-top: 16px;
    padding-bottom: 14px;
  }
}
.habitation .card__description {
  padding-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .habitation .card__description {
    padding-bottom: 12.5px;
  }
}
.habitation .card__image {
  width: 300px;
  height: 300px;
}
@media only screen and (min-width: 1280px) {
  .habitation .card__image {
    width: 305px;
    height: 366px;
  }
}
.habitation .card__button {
  width: 300px;
  height: 44px;
  border-radius: 18px;
  border-width: 3px;
  font-size: 18px;
}
@media only screen and (min-width: 1280px) {
  .habitation .card__button {
    width: 305px;
    height: 53px;
    border-radius: 20px;
  }
}
.habitation .slider {
  width: 300px;
  height: 477px;
}
@media only screen and (min-width: 1280px) {
  .habitation .slider {
    width: 1280px;
    height: 632px;
  }
}
.habitation .slider__slides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
@media only screen and (min-width: 1280px) {
  .habitation .slider__slides {
    display: flex;
    gap: 9px;
  }
}
.habitation .slider__line {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .habitation .slider__line {
    display: block;
  }
}

.food {
  background-color: #e9edc9;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1280px) {
  .food {
    margin-top: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.food__collage {
  margin-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .food__collage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }
}
.food__image {
  width: 300px;
  height: 200px;
  transition: opacity 0.5s ease-in-out;
}
.food__image:nth-child(2), .food__image:nth-child(3) {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .food__image {
    width: 410px;
    height: 325px;
  }
  .food__image:nth-child(2), .food__image:nth-child(3) {
    display: block;
  }
}
.food__description {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .food__description {
    padding-top: 0px;
    padding-bottom: 15px;
  }
}
.food__description-bold {
  font-weight: 700;
}
.food__menu {
  width: 300px;
  height: 785px;
  border-width: 4px;
  border-style: solid;
  border-color: #606c38;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 1280px) {
  .food__menu {
    width: 1280px;
    height: 423px;
    border-width: 6px;
  }
}
.food__menu-content {
  width: 260px;
  height: 745px;
}
@media only screen and (min-width: 1280px) {
  .food__menu-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1210px;
    height: 352px;
  }
}
@media only screen and (min-width: 1280px) {
  .food__menu-main-info {
    width: 878px;
    height: 349px;
  }
}
@media only screen and (min-width: 1280px) {
  .food__menu-image {
    width: 292px;
    height: 353px;
  }
}
.food__seasons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 1280px) {
  .food__seasons {
    gap: 15px;
  }
}
.food__season {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
}
@media only screen and (min-width: 1280px) {
  .food__season {
    width: 878px;
    height: 52px;
  }
}
.food__season-text {
  width: 193px;
  height: 57px;
}
@media only screen and (min-width: 1280px) {
  .food__season-text {
    width: 810px;
    height: 27px;
  }
}

.entertainment {
  margin-top: 40px;
}
@media only screen and (min-width: 1280px) {
  .entertainment {
    margin-top: 90px;
  }
}
.entertainment .card {
  background-color: #e9edc9;
  width: 300px;
  height: 362px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card {
    width: 630px;
    height: 240px;
  }
}
.entertainment .card__main-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__main-info {
    padding-top: 0px;
    padding-bottom: 12px;
  }
}
.entertainment .card__content {
  width: 260px;
  height: 322px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__content {
    width: 590px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.entertainment .card__link {
  display: flex;
  gap: 4px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__link {
    gap: 8px;
  }
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__text {
    width: 370px;
    height: 182px;
  }
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}
.entertainment .card__arrow {
  width: 8px;
  height: 10px;
  margin-top: 6px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .card__arrow {
    width: 10px;
    height: 16px;
  }
}
.entertainment .slider {
  width: 300px;
  height: 362px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .slider {
    width: 1280px;
    height: 500px;
  }
}
.entertainment .slider__slides {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media only screen and (min-width: 1280px) {
  .entertainment .slider__slides {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.news {
  margin-top: 40px;
  background-color: #e9edc9;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media only screen and (min-width: 1280px) {
  .news {
    margin-top: 90px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.news__description {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1280px) {
  .news__description {
    margin-bottom: 30px;
  }
}
.news__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media only screen and (min-width: 1280px) {
  .news__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.news__input {
  width: 300px;
  height: 44px;
  border-radius: 18px;
  border-width: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
}
@media only screen and (min-width: 1280px) {
  .news__input {
    width: 470px;
    height: 60px;
    font-size: 18px;
  }
}
.news__button {
  width: 300px;
  height: 44px;
  border-radius: 18px;
  border-width: 3px;
  font-size: 16px;
}
@media only screen and (min-width: 1280px) {
  .news__button {
    width: 240px;
    height: 60px;
    font-size: 18px;
  }
}

.reviews {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1280px) {
  .reviews {
    margin-top: 90px;
  }
}
.reviews .card__reviewer {
  background-color: #e9edc9;
  width: fit-content;
  height: fit-content;
  border-radius: 18px;
}
.reviews .card__reviewer-content {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.reviews .card__text {
  background-color: #e9edc9;
  margin-top: 10px;
  width: 300px;
  height: 202px;
  border-radius: 18px;
}
@media only screen and (min-width: 1280px) {
  .reviews .card__text {
    width: 629px;
    height: 202px;
    margin-top: 20px;
  }
}
.reviews .card__description {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 1280px) {
  .reviews .card__description {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.reviews .card__image {
  width: 40px;
  height: 40px;
}
@media only screen and (min-width: 1280px) {
  .reviews .card__image {
    width: 50px;
    height: 50px;
  }
}
.reviews .slider {
  width: 300px;
  height: 272px;
}
@media only screen and (min-width: 1280px) {
  .reviews .slider {
    width: 1280px;
    height: 614px;
  }
}
.reviews .slider__slides {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
@media only screen and (min-width: 1280px) {
  .reviews .slider__slides {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 22px;
  }
}
@media only screen and (min-width: 1280px) {
  .reviews .slider__slide:nth-child(3), .reviews .slider__slide:nth-child(4) {
    margin-top: 8px;
  }
}

.photos {
  margin-top: 40px;
}
@media only screen and (min-width: 1280px) {
  .photos {
    margin-top: 90px;
  }
}
.photos__collage {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.photos__image {
  border-radius: 18px;
  transition: opacity 0.5s ease-in-out;
  width: 300px;
  height: 280px;
}
.photos__image:nth-child(2), .photos__image:nth-child(3), .photos__image:nth-child(4) {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .photos__image {
    display: block !important;
    width: 100%;
    height: 100%;
  }
  .photos__image:nth-child(2), .photos__image:nth-child(3) {
    width: 845px;
    height: 325px;
  }
  .photos__image:nth-child(1), .photos__image:nth-child(4) {
    width: 410px;
    height: 325px;
  }
}

.questions {
  margin-top: 40px;
}
@media only screen and (min-width: 1280px) {
  .questions {
    margin-top: 90px;
  }
}
.questions__text {
  font-weight: 600;
  color: #283618;
  margin-left: 20px;
  margin-top: 8px;
  margin-bottom: 12px;
}
@media only screen and (min-width: 1280px) {
  .questions__text {
    margin-top: 16px;
  }
}
.questions__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.questions__question {
  transition: height 0.3s ease;
  overflow: hidden;
  width: 300px;
  height: 44px;
  background-color: #e9edc9;
  border-width: 2px;
  border-style: solid;
  border-color: #283618;
  border-radius: 18px;
}
@media only screen and (min-width: 1280px) {
  .questions__question {
    width: 1280px;
    height: 67px;
  }
}
.questions__question-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.questions__button {
  width: 28px;
  height: 28px;
  background-color: #606c38;
  border-radius: 50%;
  margin-right: 14px;
  margin-top: 7px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 1280px) {
  .questions__button {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-top: 12px;
  }
}
.questions__answer {
  margin-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
}
@media only screen and (min-width: 1280px) {
  .questions__answer {
    margin-top: 12px;
    padding-bottom: 20px;
  }
}
.questions__plus {
  transition: transform 0.3s ease;
}
@media only screen and (min-width: 1280px) {
  .questions__plus {
    width: 24px;
    height: 24px;
  }
}